.jumbotron h1 {
    font-size: 63px;
    text-align: center;
}
.cuerpo  {
  font-size: 20px;
  background: #E41835;
}
body {
background-attachment: fixed;
background-image: url("logo.png");
background-size: 40%;
background-position: center center;
}
.fondo  {
  background: white;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
